body {
    font-family: 'Poppins';
    background-color: #fbfbfb;
}

#menuBar {
    position: sticky;
    top: 0px;
    background-color: #ce0505;
    color: white;
    height: 60px;
    width: 419px;
    z-index: 999;
}

#menuBar div {
    position: absolute;
}

#logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    left: 20px;
    top: 10px;
}

#logo>span {
    position: absolute;
    color: #ce0505;
    font-size: 26px;
    line-height: 39px;
    top: 2px;
    left: 9px;
}

#login {
    top: 20px;
    left: 166px;
    line-height: 20px;
    font-size: 13px;
}

#signUp {
    top: 13px;
    left: 205px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 3%;
    border: 1px solid white;
    padding: 6px;
}

#mainBody>p {
    position: absolute;
    left: 24px;
    top: 91px;
    width: 285px;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    color: #192f60;
}

#rsltCardMobile {
    position: absolute;
    left: 0px;
    top: 143px;
    width: 419px;
    height: 224px;
    background-color: white;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
}

.noRslt {
    position: absolute;
    top: 64px;
    left: 66px;
    width: 216px;
    height: 28px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #192f60;
}

#rsltCard {
    position: absolute;
    left: 0px;
    top: 238px;
    width: 419px;
}

.card {
    position: absolute;
    width: 100%;
    height: 202px;
    background-color: white;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
    z-index: -1;
}

.card2 {
    position: absolute;
    top: 230px;
    width: 419px;
    height: 202px;
    background-color: white;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
}

.card3 {
    position: absolute;
    top: 460px;
    width: 419px;
    height: 202px;
    background-color: white;
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
}

#rsltCard>.card>img,
#rsltCard>.card2>img,
#rsltCard>.card3>img {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 16px;
    left: 12px;
    border-radius: 5%;
}

#mainBody>form>select {
    position: absolute;
    width: 292px;
    height: 44px;
    top: 152px;
    left: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    color: #192f60;
    padding: 8px;
}

.card>h3,
.card2>h3,
.card3>h3 {
    position: absolute;
    left: 90px;
    font-size: 20px;
    line-height: 30px;
}

.card>h4,
.card2>h4,
.card3>h4 {
    position: absolute;
    left: 90px;
    top: 28px;
    font-size: 13px;
    line-height: 30px;
}

.cardDesc {
    position: absolute;
    left: 90px;
    top: 45px;
    font-size: 11.5px;
    line-height: 30px;
    padding: 0%;
}

.card>table,
.card2>table,
.card3>table {
    position: absolute;
    top: 125px;
    left: 12px;
    z-index: 99;
}

.Path-6204 {
    position: absolute;
    width: 330.9px;
    height: 0;
    margin: 27px 0 0;
    border: solid 1px #dedfe5;
    top: 95px;
    left: 10px;
}

.pBox {
    position: relative;
    top: 705px;
    left: 90px;
    display: inline-block;
    height: 2%;
    width: 2%;
    border-radius: 5%;
    border: 1px solid teal;
    /* top:80%; */
    padding: 1%;
    line-height: 15px;
    text-align: center;
}

.pBoxSelect {
    background-color: #8c96ab;
}

#spacer {
    position: absolute;
    left: 10%;
    top: 132%;
    height: 20px;
    width: 20px;
}